<%= simple_form_for @profile, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
<div class = 'form-inputs'>
<%= f.file_field :image, :label => "Profile photo" %>
<%= f.input :description, :label => "One line description" %>
<%= f.input :interest_1, :label => "Business interests" %>
<%= f.input :interest_2, :label => "Business interests" %>
<%= f.input :hobby_1, :label => "Personal interests" %>
<%= f.input :hobby_2, :label => "Personal interests" %>
<%= f.input :employer %>
<%= f.input :birthday, :label => "Date of Birth", :as => :date, :start_day => Date.today.day, :start_month => Date.today.month, :start_year => Date.today.year - 40, :end_year => Date.today.year - 18, :order => [:day, :month, :year] %>


</div>
<div class= 'form-actions'>
<% if request.path == "/profiles/#{@profile.id}/edit" %>	
<%= f.button :submit, "Update profile" %>
<% else %>
<%= f.button :submit, "Create profile" %>
<% end %>
</div>
<% end %>