<%= simple_form_for @description, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
<div class = 'form-inputs'>
<%= f.file_field :venue_image, :label => "Profile photo" %>
<%= f.input :r_type, :label => "Restaurant description" %>
<%= f.input :address_1, :label => "Address" %>
<%= f.input :address_2, :label => "Address" %>
<%= f.input :post_code, :label => "Postcode" %>
<%= f.input :phone_number, :label => "Phone number" %>
</div>
<div class= 'form-actions'>
<%= f.button :submit, "Create profile" %>
</div>
<% end %>
