<div class="container-inner">
	<div class= "profile-wrapper">
		<div class ="venue_img-wrapper">
			<%= image_tag @description.venue_image_url(:profile).to_s%>
		</div>
		<div class="details-box">
			<p><h2><%= @description.venue.full_name%></h2></p>
			<p>Description: <%= @description.r_type %>
			<p>Email: <%= @description.venue.email %></p>
			<p>Address: <%= @description.address_1%> , <%= @description.address_2%>, <%= @description.post_code %></p>
			<p>Phone number: <%= @description.phone_number%></p> 
			<p><%= link_to "Edit profile", edit_description_path %></p>
		</div>
	</div>
</div>