<%= simple_form_for @venue, :html => { :class => 'form-horizontal' } do |f| %>
<div class = 'form-inputs'>
<%= f.file_field :venue_image, :label => "Upload photo" %>
<%= f.input :name %>
<%= f.input :email %>
<%= f.input :password %>
<%= f.input :password_confirmation %>
<%= f.input :r_type, :label => "Restaurant Type" %>
<%= f.input :address_1, :label => "Address" %>
<%= f.input :address_2, :label => "Address" %>
<%= f.association :city, :default => false %>
<%= f.input :post_code %>
<%= f.input :phone_number %>

</div>
<div class= 'form-actions'>
<% if request.path == "/venues/#{@venue.id}/edit" %>	
<%= f.button :submit, "Update profile" %>
<% else %>
<%= f.button :submit, "Create profile" %>
<% end %>
</div>
<% end %>