<%= image_tag @venue.venue_image_url(:profile).to_s%>
<h1><%= @venue.name%></h1></br>
<h4>Email: <%= @venue.email%>
<h4>Restaurant type: <%= @venue.r_type%></h4>
<h4>Location: <%= @venue.city.name %>
