<%= simple_form_for @roundtable, :html => { :class => 'form-horizontal' } do |f| %>
<div class = 'form-inputs'>
<%= f.input :topic, :label => "Topic" %>
<%= f.input :summary, :label => "Event description", :input_html => { :rows => 2} %>
<%= f.input :attendee_number, :as => :radio_buttons, :collection => 4..8 %>
<%= f.input :kick_off, :label => "Time", :as => :time, :minute_step => 5 %></div>
<%= f.association :city, :default => false %>
<%= f.association :venue, :label_method => lambda { |venue| "#{venue.full_name}"}, :default => true %>
<%= f.input :dinner_on, :label => "Date", :as => :date, :start_date => Date.today.day, :start_month => Date.today.month, :start_year => Date.today.year, :order => [:day, :month, :year] %>
<div class= 'form-actions'>
<%= f.button :submit, "Create roundtable" %>
</div>
<% end %>