<div class="list-banner">
	<h1 class="font-face">
	Roundtables happening in London
	</h1>
</div>
</div>
<% @roundtables.each do |roundtable| %>
<div class="entry">
	<div class='date-wrapper'>
		<span class="month"><%= roundtable.dinner_on.strftime("%b")%></span>
		<span class="day-num"><%= sprintf '%02d', roundtable.dinner_on.day%></span>	
		<span class="day-text"><%= roundtable.dinner_on.strftime("%A") %></span>
		<span class="time-text">
			<%= roundtable.kick_off.strftime("%I")%>:<%= roundtable.kick_off.strftime("%M")%><%= roundtable.kick_off.strftime("%p")%>
	</div>
	<div class="roundtable-entry">
		<div class="host-box">
			<%= image_tag roundtable.user.profile.image_url(:thumb).to_s%> 
			<%= link_to "#{roundtable.user.full_name}", roundtable.user.profile %>		
		</div>
		<div class="event-box">
			<div class="event-topic">
				<%= link_to "#{roundtable.topic}", roundtable_path(:id => roundtable.id), :method => :get %>
			</div>
			<div class='event-details'>
				<%= link_to "#{roundtable.venue.full_name}",roundtable.venue.description %>, <%= roundtable.venue.description.address_1 %></br>
			</div>
			<div class="confirmed-guests">	
				<% confirmed_guests = Request.find_all_by_roundtable_id_and_confirm(roundtable.id, "True") %>
				Who else is coming?</br>
				<% confirmed_guests.each do |request|%>
				<%= image_tag request.user.profile.image_url(:micro).to_s%>
				<% end %>
			</div>
		</div>
		<div class="pay-box">
			<div class="price">
				£20
			</div>
			<div class="price-modifier">
				2-course meal
			</div>
		</div>
	</div>
</div>
<% end %>
		