<div class="list-banner">
	Roundtables happening in London
</div>
<% @roundtables.each do |roundtable| %>
<div class="entry">
	<div class='date-wrapper'>
		<span class="month"><%= roundtable.dinner_on.strftime("%b")%></span>
		<span class="day-num"><%= sprintf '%02d', roundtable.dinner_on.day%></span>	
		<span class="day-text"><%= roundtable.dinner_on.strftime("%A") %></span>
	</div>
	<div class="roundtable-entry">
		<div class="host-box">
			<%= image_tag roundtable.member.profile.image_url(:thumb).to_s%> 
			<%= link_to "#{roundtable.member.full_name}", roundtable.member.profile %>		
		</div>
		<div class="event-box">
			<div class="event-topic">
				<%= link_to "#{roundtable.topic}", events_show_path(:id => roundtable.id), :method => :get %>
			</div>
			<div class='event-details'>
				<%= roundtable.venue.name%>, <%= roundtable.venue.address_1 %></br>
			</div>
			<div class="confirmed-guests">	
				<% confirmed_guests = Request.find_all_by_roundtable_id_and_confirm(roundtable.id, "True") %>
				Who else is coming?</br>
				<% confirmed_guests.each do |request|%>
				<%= image_tag request.member.profile.image_url(:micro).to_s%>
				<% end %>
			</div>
		</div>
		<div class="pay-box">
			<div class="price">
				£20
			</div>
			<div class="price-modifier">
				2-course meal
			</div>
		</div>
	</div>
</div>
<% end %>
		