<!DOCTYPE html>
<html>
<head>
  <title>Roundtabler</title>	
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type ="text/css" media="screen">
		h1.fontface {font: 80px/68px 'JournalRegular', Arial, sans-serif;letter-spacing: 0;}
  </style>
</head>
<body>
<%= render "layouts/header" %>
<div class="container">
	<div class="row">
	<% flash.each do |name, msg| %>
		<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
			<a class="close" data-dismiss="alert">x</a>
			<%= msg %>
		</div>
		<% end %>
		<div class="span12"><%= yield %></div>
	</div>	
</div>
<%= yield :scripts %>
</body>
</html>
